.form {
     margin: 20px;
}
.form input {
     /* display: block; */
     margin-top: 5px;
     margin-bottom: 5px;
     width: 100%;
}
.form textarea {
     /* display: block; */
     margin-top: 5px;
     margin-bottom: 5px;
     width: 100%;
}
.cardwidth {
     max-width:1200px;
     padding: 20px;
}
.formalign {
     text-align: center;
}
.contactstyle {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 30px;
     font-weight: 500;     
}
