.mycolors {
     color: #b89a30;
}
.mycardsize {
     width: 18rem;
}
.myspacing {
     padding: 10px;
}
.btnstyle {
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     font-size: 20px;
     font-weight: 500;     
}
/* .myalignright {
     display: inline;
     text-align: right;

}
.myaligncenter {
     display: inline;
     text-align: center;
}
.myalignleft {
     display: inline;
     text-align: left;
}
.mycontentright {
     align-content: flex-end;
} */