/*  Global styles */
* {
     font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
     color: #e1bd3e;     
}
html {
     scroll-behavior: smooth;
}

/*  Bootstrap overrides */
body {
     background-color: #587059;
}
.bg-green {
     background-color: #587059;
}
.noborder {
     border: 0px;
}
.rounded-corners {
     border-radius: 25px;
}
a {
     color:#ffffff;
} 
a:hover {
     color: darkgray;
}
.nav-link {
     color: #000000;
     font-weight: bold;
     font-family: fantasy;
     font-size: 20px;

}
.nav-link:hover {
     color: #000000;
     font-weight: bold;
}
.nav-link:focus {
     color: #000000;
     font-weight: bold;
}

